<div class="card box-solid">
  <div class="card-body table-responsive p-0">
    <table class="table no-margin table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Board size</th>
          <th>Number of mines</th>
          <th>Created at</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% mine_boards.each do |mine_board| %>
        <tr>
          <td><%= mine_board.id %></td>
          <td><%= link_to mine_board.email, admin_mine_board_path(mine_board) %></td>
          <td><%= mine_board.board_size %></td>
          <td><%= mine_board.mine_number %></td>
          <td class="text-right">
            <%= link_to "Delete", admin_mine_board_path(mine_board), 
                  method: :delete, 
                  data: { confirm: "Are you sure you want to delete this board?" }, 
                  class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>